.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all 0.25s linear;
  z-index: -10;
  transform: scale(0);
}

.openModal {
  z-index: 3;
  transform: scale(1);
}

.modalCenter {
  width: 90%;
  background: #f4f7f8;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 5px;
  max-width: 1200px;
}

.modalContainer {
  padding: 0 1rem;
}

.modalOverlay h3 {
  margin-top: 3rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
  color: #5f095fc2;
  border-bottom: 1px solid var(--main-color);
}

.modalCenter h4 {
  color: #5f095fc2;
  margin: 1.5rem 0 0.25rem;
  text-transform: uppercase;
}

.specificInput {
  line-height: 2;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.specificInput span {
  font-weight: 600;
}

.submitBtn {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  margin: 1.5rem auto 2.5rem;
  background: var(--main-color);
  color: #fff;
  padding: 0.5rem 2rem;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.submitBtn:hover {
  background: #921992c2;
}
.submitBtn:disabled {
  background: #994599c2;
  cursor: not-allowed;
}

.backBtn {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  margin: 0.5rem auto 0;
  background: var(--main-color);
  color: #fff;
  padding: 0.5rem 2rem;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.backBtn:hover {
  background: #921992c2;
}

@media screen and (min-width: 992px) {
  .modalContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .modalContainer > div {
    flex: 0 0 50%;
  }

  .modalCenter h4 {
    text-align: center;
  }

  .submitBtn {
    margin-bottom: 0;
    width: 100%;
    padding: 1rem 0;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
