.main {
  background: #fff;
  width: 85vw;
  margin: 3rem auto;
  padding-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 7px 8px 12px -5px rgba(0, 0, 0, 0.79);
  max-width: 1200px;
}

@media screen and (min-width: 900px) {
  .main {
    width: 90vw;
  }
}
